# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist/
dist-ssr
*.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
pubsub-debug.log*
auth-debug.log*

# Environment
.env
.env.*
!.env.example

# Editor / System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Documentación
doc/

public/img/lista de imagenes.md
